*{
  Margin:0;
  Padding:0;
  box-sizing:border-box;
}
:root{
  --corDeFundo:#fbca85;
  --corElementos:black;
  --corFonteElementos:orange;
}
Body{
  Color:green;
  Text-align:center;
  Background-color:var(--corDeFundo);
}
.logo{
  Text-align:center;
  Color:var(--corElementos) ;
  font-family: 'Ubuntu', sans-serif;
  Font-size:20vw;
}
.principal{
  Display:flex;
  flex-direction:column;
  Width:100vw;
  height:90vh;
  Margin: 3px auto;
}
.entrada{
  Width:90vw;
  Text-align:center;
  Height:50vh;
  Outline:none;
  Margin:0 auto;
  Padding-top:60px;
  Border:none;
  Font-size:5vw;
  Border-radius:5px;
  Background-color:var(--corDeFundo);
}
.botao-codigo{
  Width:40vw;
  Text-align:center;
  Font-size:5vw;
  Margin:10px  auto;
  Padding:15px;
  Border-radius:10px;
  Color:var(--corFonteElementos);
  Background-color:var(--corElementos);
  Border:none;
}
.resultado{
  Resize:none;
  Width:90vw;
  Font-size:60px ;
  Margin:0 auto;
  outline:none;
  Border:none;
  Border-radius:10px;
  Height:30vh;
}
#copiar{
  Color:var(--corFonteElementos);
  Background-color:var(--corElementos);
  Width:90%;
  Margin:5px auto;
  Font-size:5vw;
  Padding:10px;
  Border-radius:10px;
  Border:none;
}
Footer
{
  Font-size:50px;
  Padding:10px;
  Background-color:black;
  color:orange;
}
a{
  Text-decoration:none;
  Color:orange;
}
a:hover{
  Font-size:15px;
  Text-decoration:underline;
}
