*{
  Margin:0;
  Padding:0;
  box-sizing:border-box;
  Text-align:center;
}
:root{
  --corDeFundo:#fbca85;
  --corElementos:black;
  --corFonteElementos:orange;
}
Body{
  Color:green;
  Background-color:var(--corDeFundo);
}
#logo{
  Text-align:center;
  Color:var(--corElementos) ;
  font-family: 'Ubuntu', sans-serif;
  Font-size:18vh;
}
.principal{
  Display:flex;
  flex-direction:column;
  Width:100vw;
  height:90vh;
  Margin: 3px auto;
}
.entrada{
  Width:90vw;
  Height:50vh;
  Outline:none;
  Margin:0 auto;
  Padding-top:20px;
  Border:none;
  Font-size:5vw;
  Border-radius:5px;
  Background-color:var(--corDeFundo);
}
.botao-codigo{
  Width:40vw;
  Font-size:5vw;
  Margin:10px 10px 0 0;
  Padding:15px;
  Border-radius:10px;
  Color:var(--corFonteElementos);
  Background-color:var(--corElementos);
  Border:none;
}
.resultado{
  Width:90vw;
  Margin:0 auto;
  Border:none;
  Border-radius:10px;
  Height:30vh;
}
#copiar{
  Color:var(--corFonteElementos);
  Background-color:var(--corElementos);
  Width:90%;
  Margin:5px auto;
  Font-size:5vw;
  Padding:10px;
  Border-radius:10px;
  Border:none;
}
